body{
  margin: 0;
}

.container{
  background-color: grey;
  height: 5000px;
  width: 600px;
  position: absolute;
}

.red{
  background-color: red;
  height: 200px;
  width: 200px;
  position:absolute;
  top: 0;
  right: 0;

}
.blue{
  background-color: blue;
  height: 200px;
  width: 200px;
position:fixed;

left: 200px;
}
.yellow{
  background-color: yellow;
  height: 200px;
  width: 200px;
position:fixed;

}
